PROJECT_ID=
GCS_BUCKET=
REGION=
ARTIFACT_REGISTRY=
CLOUD_RUN_SERVICE=
APP_DIR= # Directory where code for app under test is cloned

# Only set this in CI, the defaults in eval.yaml are good for local testing
GOOGLE_APPLICATION_CREDENTIALS=


